@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;

    --color-yellow: #FBAD02;
    --color-orange: #E3690C;
    --color-gray: #474747;
    --color-green: #106E56;
    --color-lgreen: #7BA14F;
    --color-ivory: #FDF5E8;
    --color-white: #FFF;
    --color-black: #000;
}