.wte__search {
    background-image: url(../../assets/eating.svg);
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: bottom 11.5rem right 6.5rem;
    position: fixed;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .wte__search {
        background-size: 35rem;
        background-position: bottom 9rem right 3rem;
    }
}

@media screen and (max-width: 750px) {
    .wte__search {
        /* background-size: 30rem; */
        background-position: bottom 7rem right 1rem;
    }
}

@media screen and (max-width: 500px) {
    .wte__search {
        background-size: 25rem;
        background-position: 50% 75%;
    }
}

.wte__search-container {
    display: flex;
    flex-direction: column;
    margin: 0 6.6%;
}

.wte__search-content {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.wte__search-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: var(--color-gray);
}

.wte__search-textblock {
    margin: 1rem 0;
}

.wte__search-textbox {
    position: relative;
}

.wte__search-textbox input {
    width: 100%;
    height: 3rem;
    font-family: var(--font-family);
    font-size: 16px;
    padding: 0 0.8rem;
    border: 2px solid #818181;
    border-radius: 0.5rem;
}

.wte__search-textbox-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.wte__search-textbox-str {
    color: #818181;
    font-size: 16px;
    padding: 0 0.8rem;
    background-color: transparent;
    font-family: var(--font-family);
    top: 0; left: 0; bottom: 0; right: 0;
    transform: translate(0);
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}

.wte__search-textbox input:focus {
    outline: none;
    border-color: blueviolet;
}

.wte__search-textbox input:focus + .wte__search-textbox-placeholder .wte__search-textbox-str {
    padding: 0 0.2rem;
    margin: 0 0.6rem;
    font-size: 13px;
    background-color: white;
    transform: translate(0, -165%);
    border-color: blueviolet;
    color: blueviolet;
}

.wte__search-textbox input:not(:placeholder-shown) + .wte__search-textbox-placeholder .wte__search-textbox-str {
    background-color: white;
    font-size: 13px;
    transform: translate(0, -165%);
    padding: 0 0.2rem;
    margin: 0 0.6rem;
}

.wte__search-textbox input:disabled {
    background-color: var(--color-disabled);
    transition: all 0.2s;
}

.wte__search-errormsg {
    padding-top: 6px;
    padding-left: 0.5rem;
    color: var(--color-error);
    font-family: var(--font-family);
    font-size: 16px;
}

.wte__search-errormsg-radius {
    margin-left: 0.5rem;
    color: var(--color-error);
    font-family: var(--font-family);
    font-size: 16px;
}

.wte__search-checkbox {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    margin: 1rem 0;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--color-gray);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wte__search-checkbox input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

.wte__search-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border: 2px solid gray;
    border-radius: 0.2rem;
    -moz-box-shadow:    inset 0 0 2px gray;
   -webkit-box-shadow: inset 0 0 2px gray;
   box-shadow:         inset 0 0 2px gray;
}

.wte__search-checkbox:hover input ~
.wte__search-checkmark {
    border: 2px solid black;
}

.wte__search-checkbox input:checked ~
.wte__search-checkmark {
    background-color: #2196F3;
}

.wte__search-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.wte__search-checkbox input:checked ~
.wte__search-checkmark:after {
    display: block;
}

.wte__search-checkbox .wte__search-checkmark:after {
    left: 5px;
    top: 0;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wte__search-numberbox {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-size: 17px;
    color: var(--color-gray);
}

.wte__search-numberbox label {
    margin-right: 0.8rem;
}

.wte__search-numberbox input {
    width: 5rem;
    height: 2.5rem;
    font-family: var(--font-family);
    font-size: 16px;
    padding: 0 0.8rem;
    border-bottom: 1.5px solid var(--color-gray);
}

.wte__search-numberbox span {
    margin-left: 0.5rem;
}

.wte__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 5rem;
    left: 50%;
    right: 50%;
}

.wte__search-button button {
    display: flex;
    align-items: center;
    padding: 0.4em 1.1em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid var(--color-ivory);
    background-color: var(--color-green);
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.06em;
    color: var(--color-ivory);
    text-align: center;
    transition: all 0.5s;
}

.wte__search-button button:after {
    background-image: url(../../assets/search-icon.svg);
    background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
    margin-left: 5px;
    transition: 0.5s;
}

.wte__search-button button:hover {
    border-color: var(--color-green);
    background-color: var(--color-ivory);
    color: var(--color-green);
}

.wte__search-button button:hover:after {
    background-image: url(../../assets/search-icon-green.svg);
    background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
    transition: 0.5s;
}

.wte__search-button p {
    font-family: var(--font-family);
    color: var(--color-gray);
    -webkit-text-stroke: 0.4px var(--color-ivory);
    width: 100px
}

.wte__search img {
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 1000px) {
    .wte__search-content {
        padding-bottom: 0;
    }
    .wte__search h4 {
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
    }
    .wte__search-textblock {
        margin: 0.8rem 0;
    }
    .wte__search-textbox input {
        height: 2.5rem;
        font-size: 14px;
    }
    .wte__search-textbox-str {
        font-size: 14px;
    }
    .wte__search-checkbox {
        margin: 0.8rem 0;
        font-size: 14px;
        padding-left: 1.2rem;
    }
    .wte__search-checkmark {
        height: 16px;
        width: 16px;
    }
    .wte__search-numberbox {
        font-size: 14px;
    }
    .wte__search-numberbox label {
        margin-right: 0.6rem;
    }
    .wte__search-numberbox input {
        width: 4.5rem;
        height: 2rem;
    }
    .wte__search-errormsg {
        font-size: 14px;
    }
    .wte__search-errormsg-radius {
        font-size: 14px;
    }
    .wte__search-button {
        bottom: 2rem;
    }
    .wte__search-button button {
        padding: 0.4em 0.9em;
        margin: 0 0.1em 0.1em 0;
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .wte__search-button p {
        font-size: 13px;
        -webkit-text-stroke: 0.2px var(--color-ivory);
    }
    .wte__search-checkbox .wte__search-checkmark:after {
        left: 4px;
        top: 0;
        width: 3px;
        height: 9px;
    }
}